
/*@import url('https://css.gg/css');*/
@import url('./css.gg.css');

.prompt-checkbox-label {
    background: #63c9b144;
    border-radius: 5px;
    padding-right: 3px;
    padding-left: 3px;
    /*border: 1px dotted rgba(5,23,22,0.32);*/
}
.prompt-checkbox-label input[type=checkbox],
.prompt-checkbox-label input[type=radio] {
    margin-bottom: 3px;
}
